---
layout: default
---

{% assign pbes = site.data.pastBigEvents %}
<div class="events-page">

	<section class="title-section">
		<h1>Events</h1>
		<p>We organize events where we cooperate with large and small companies to provide our members with the best
			opportunities and contacts to build a career. Our focus is to empower all women, non-binary and transgender people
			in technology.</p>
	</section>

	<section class="upcoming-event-section scroll-margin-top " id="upcoming-event-section">
		<h2>Upcoming events</h2>
		<div class="highlighted d-flex flex-column flex-lg-row">
			No big upcoming events
			</div>
		</div>
	</section>

	<section class="event-types-section">
		<h2>Our different events</h2>
		<div class="event-types-wrapper d-flex flex-column flex-md-row">
			<div class="event-type-card">
				<h3>Tech events</h3>
				<p>
					Throughout the year we also host tech events. These include workshops on varying skills, from setting up your
					laptop to practicing interviews. For some of our tech events, our sponsors also partner with us, giving you a
					chance to learn from someone in the industry!
				</p>
			</div>

			<div class="event-type-card">
				<h3>Social events</h3>
				<p>
					We can't have a society without socials! Hoppers have many socials throughout the year welcome to anyone,
					including first years, post graduates and staff. In the past, we have organised events such as movie nights
					and ice skating as well as virtual pub quizzes and game nights.
				</p>
			</div>

			<div class="event-type-card">
				<h3>Big events</h3>
				<p>
					Every year, we collaborate with companies and other societies to celebrate Ada Lovelace Day in October and
					International Women's Day in March. These annual events are a great opportunity for networking, skill
					development and, of course, to have fun! You can read more about <a href="#past-big-events-section">our
						past big events</a> or find out about <a href="#upcoming-event-section">our upcoming big event</a>.
				</p>
			</div>
		</div>

	</section>

	<section class="event-calendar">
		<h2>Events calendar</h2>
		<p>If you are interested in any of our upcoming events, check out <a
				href="https://www.facebook.com/edinburghhopppers/events" target="_blank">our Facebook events page</a> to find
			out more or join <a href="https://www.facebook.com/groups/edinburghhoppers" target="_blank">our Facebook group</a>
			to keep up to date with our events and opportunities.</p>
		<div class="calendar-wrapper">
			<div class="smgc-calendar-placeholder" id="smgc-cal-lcOSRAOVrXSBQGcGEnQe"></div>
		</div>
	</section>

	<section class="past-big-events scroll-margin-top " id="past-big-events-section">
		<h2>Our previous big events</h2>
		<div class="pbes">
			{% for event in pbes %}
			<div class="pbe-card d-flex align-items-center flex-column flex-lg-row">
				<div class="pbe-logo">
					<img src="{{site.baseurl}}/assets/images/logos/{{ event.logo }}" alt="Logo for {{ event.name }}">
				</div>
				<div class="pbe-info flex-grow-1 text-center text-lg-left">
					<h3>{{ event.name }}</h3>
					<h4>{{ event.date }}</h4>
					{% if event.desc %}
					{% include pastBigEvents/{{event.desc}} %}
					{% endif %}
					{% if event.link %}
					<div class="col-12 center-horizentally">
						<a class="col-12 col-md-5 col-lg-6 button clickable" href="{{ event.link }}" target="_blank">Go to the
							website</a>
					</div>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
	</section>

</div>