---
layout: default
---

{% assign support = site.data.support %}
<div class="team">
    <section class="title-section">
        <h1>Page Coming Soon!</h1>
        <p>
            Meet our sister societies & learn about where to get support at the University of Edinburgh
        </p>
    </section>

    <div class="support-page">
        {% for org in support %}
        <div class="org-card" style="background-image: url({{ site.baseurl }}/assets/images/support-logos/{{ org.logo }})">
            {% if org.website %}
            <a href="{{ org.website }}" target="_blank">
                {% endif %}
                <div class="overlay">
                    <h4>{{ org.name }}</h4>
                    <!-- {% if member.pronouns %} <h5>{{ member.pronouns }}</h5> {% endif %}
                    <h5>{{ member.role }}</h5>
                    {% if member.year %} <h6>{{ member.year }}</h6> {% endif %} -->
                </div>
                {% if org.website %}
            </a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
