<footer>
    <div class="outer-wrapper">
        <h3>
            Follow us on these platforms
        </h3>
        <div class="contact-us-wrapper">
            <img data-toggle="tooltip" data-placement="top" title="<b>Facebook</b>"
                src="{{ site.baseurl }}/assets/images/contact-us/facebook.png">
            <img src="{{ site.baseurl }}/assets/images/contact-us/twitter.png">
            <i class="fab fa-instagram-square"></i>
            <img src="{{ site.baseurl }}/assets/images/contact-us/instagram.png">
        </div>
        <h3>Or write to us at <a href="mailto:edinburghhoppers@gmail.com">edinburghhoppers@gmail.com</a></h3>
    </div>
</footer>