<footer id="contact-us">
    <div class="outer-wrapper">
        <h3>
            Follow us on social media!  
        </h3>
        <div class="contact-us-wrapper">

            <a href="https://www.facebook.com/edinburghhopppers" target="_blank">
                <img data-toggle="tooltip" data-placement="top" title="Facebook"
                    src="{{ site.baseurl }}/assets/images/contact-us/facebook.png" class="social-media-button"
                    alt="facebook logo">
            </a>
            <a href="https://twitter.com/edi_hoppers" target="_blank">
                <img src="{{ site.baseurl }}/assets/images/contact-us/x-twitter.png" class="social-media-button" title="X / Twitter"
                    alt="twitter logo">
            </a>
            <!-- <i class="fab fa-instagram-square"></i> -->
            <a href="https://www.instagram.com/euhoppers" target="_blank">
                <img src="{{ site.baseurl }}/assets/images/contact-us/instagram.png" alt="instagram logo" title="Instagram">
            </a>

            <a href="https://www.linkedin.com/company/hoppers-society-women-in-tech/" target="_blank">
                <img src="{{ site.baseurl }}/assets/images/contact-us/linkedin.png">
            </a>
        </div>

        <h3>Or write to us at <a href="mailto:edinburghhoppers@gmail.com">edinburghhoppers@gmail.com</a></h3>
    </div>
    <div class="attribution">
        <p class="text-center">
            Coded with <img src="assets/images/heart.png" alt="love" style="width: 1.5em;" class="heart">
            by <a href="https://www.linkedin.com/in/julia-castillo-trujillo-1bb375172/" target="_blank">Julia Castillo</a>
            and <a href="https://github.com/parna86" target="_blank">Aparna Rajeev</a>

        </p>
        <p class="text-center">
          Maintained by <a href="https://www.linkedin.com/in/mabel-wylie/" target="_blank">Mabel Wylie</a>
          and <a href="https://www.linkedin.com/in/haofei-chen/" target="_blank">Haofei Chen</a>
        </p>
    </div>

</footer>