<footer id="contact-us">
    <div class="outer-wrapper">
        <h3>
            Follow us on these platforms
        </h3>
        <div class="contact-us-wrapper">

            <a href="https://www.facebook.com/edinburghhopppers" target="_blank">
                <img data-toggle="tooltip" data-placement="top" title="<b>Facebook</b>"
                    src="{{ site.baseurl }}/assets/images/contact-us/facebook.png" class="social-media-button">
            </a>
            <a href="https://twitter.com/edi_hoppers" target="_blank">
                <img src="{{ site.baseurl }}/assets/images/contact-us/twitter.png" class="social-media-button">
            </a>
            <!-- <i class="fab fa-instagram-square"></i> -->
            <a href="https://www.instagram.com/edinburghuniversityhoppers/" target="_blank">
                <img src="{{ site.baseurl }}/assets/images/contact-us/instagram.png">
            </a>

            <!-- <a href="https://www.linkedin.com/company/hoppers-society-women-in-tech/" target="_blank">
                <img src="{{ site.baseurl }}/assets/images/contact-us/linkedin.png">
            </a> -->
        </div>

        <h3>Or write to us at <a href="mailto:edinburghhoppers@gmail.com">edinburghhoppers@gmail.com</a></h3>
    </div>
    <div class="attribution">
        <p class="text-center">
            Coded with
            <img src="assets/images/heart.png" alt="love" style="width: 1.5em;" class="heart">
            by <a href="https://www.linkedin.com/in/julia-castillo-trujillo-1bb375172/" target="_blank">Julia
                Castillo</a>
            and <a href="https://github.com/parna86" target="_blank">Aparna Rajeev</a>

        </p>
    </div>

</footer>