<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

{% if page.title == "Index" %}
<title>Edinburgh Hoppers</title>
{% else %}
<title>{{ page.title }} | Edinburgh Hoppers</title>
{% endif %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="icon" href="{{ '/assets/images/logos/hoppers-logo-nav.png' | relative_url }}" type="image/png">



<!-- bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
  integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

<!-- <link rel="stylesheet" href="{{ '/assets/css/splide.min.css' | relative_url }}"> -->

<link rel="stylesheet" type="text/css" href="{{ '/assets/css/slick.css' | relative_url }}" />
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/slick-theme.css' | relative_url }}" />


<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">