<p>
    As the official society for Gender Minorities in Informatics at the University of Edinburgh, our goal is to cultivate an open community to provide a supportive and inclusive space for people to build both technical and networking skills. The society has been created by a group of
    female teaching staff as part of the School to empower not only women but also other gender minorities working or studying in the field.
</p>

<p>
    We partner with top-tier companies such as Jane Street and Optiver to provide our members with the
    best learning opportunities and networks to build a future career. We try to provide a mixture of tech events and community-building socials, from speciality talks to picnics! We build a strong community for members, and light their inspiration to become one of the best in the field. Our two biggest events of the year are Ada Hack, hosted in October, and International Women's Day, hosted in March. Every
    year, we try to make our IWD better than ever. We have prepared a day full of interesting talks, workshops and fun challenges.
</p>

<p>
    The School of Informatics has offered amazing support to promote more tech opportunities to our members and to help
    them thrive. Hopefully, we will be able to get more and more gender minorities in the industry through our work.
</p>
