/* Pure black text on white backgrounds can cause eye strain when users read the text over an extended period. */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;1,300&display=swap");
/* GENERAL PROPERTIES */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8f9fa;
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  font-size: 18px;
  max-width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%233da08c' fill-opacity='0.14'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

main {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.card {
  background-color: #f8f9fa;
}

h1, h3 {
  color: #3da08c;
}

h2, h4, h5, h6, p {
  color: #444;
}

a {
  color: #3da08c;
  font-weight: bold;
}

a:hover {
  color: #3da08c;
}

.nodecor {
  text-decoration: none;
}

.nodecor:hover {
  text-decoration: none;
}

.center-horizentally {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shadow {
  -webkit-box-shadow: 5px 5px 4px 2px #ccc;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* Firefox 3.5 - 3.6 */
  box-shadow: 5px 5px 4px 2px #ccc;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

::-moz-selection {
  background: #bce5dd;
  color: #f8f9fa;
}

::selection {
  background: #3da08c;
  color: #f8f9fa;
}

.scroll-margin-top {
  scroll-margin-top: 100px;
}

.page {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90vw;
  -ms-grid-rows: max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content;
      grid-template-areas: 'title' '.';
}

.title-section {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  display: -ms-grid;
  display: grid;
  padding-bottom: 10px;
}

.title-section h1 {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin: 0;
  margin: 20px;
}

.title-section p {
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 70ch;
}

/* NAVIGATION BAR */
.navbar-logo {
  margin: -50%;
  z-index: 1;
  /* used on small screens */
}

.navbar-logo-sm {
  position: absolute;
  right: 20px;
  top: -20px;
  z-index: 1;
}

.nav-item {
  -webkit-transition: background 1.5s cubic-bezier(0, 0, 0, 1);
  transition: background 1.5s cubic-bezier(0, 0, 0, 1);
}

.nav-item:hover {
  -webkit-transition: background 1s cubic-bezier(0, 1, 0.5, 1);
  transition: background 1s cubic-bezier(0, 1, 0.5, 1);
  background-color: #bce5dd;
}

.nav-link {
  font-weight: normal;
}

#nav-cover {
  background-color: #eee;
}

/* BUTTONS */
.button {
  color: #ffffff !important;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#5bc3c8), to(#109864));
  background: linear-gradient(90deg, #5bc3c8, #109864);
  padding: 0.5rem !important;
  border-radius: 0.25rem;
  display: inline-block;
  min-width: 150px;
  width: 100%;
  margin: 10px 0px;
}

.button:hover {
  text-decoration: none;
}

.clickable {
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0, 0, 0, 1);
  transition: -webkit-transform 1.5s cubic-bezier(0, 0, 0, 1);
  transition: transform 1.5s cubic-bezier(0, 0, 0, 1);
  transition: transform 1.5s cubic-bezier(0, 0, 0, 1), -webkit-transform 1.5s cubic-bezier(0, 0, 0, 1);
}

.clickable:hover {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0, 1, 0.5, 1);
  transition: -webkit-transform 1s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 1s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 1s cubic-bezier(0, 1, 0.5, 1), -webkit-transform 1s cubic-bezier(0, 1, 0.5, 1);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.clickable:active {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

/*
_________________________________________________________________
HOMEPAGE
_________________________________________________________________
*/
.index-body {
  background: none;
  background-color: #f8f9fa;
}

.home-section {
  margin: 10% 10%;
}

.home-text {
  margin: auto;
}

.home-text h2 {
  color: #3da08c;
}

.home-image-wrapper {
  margin: auto;
}

.home-image {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.section-bg {
  background: linear-gradient(45deg, #f8f9fa, #bce5dd);
}

#events-section {
  background: none;
  margin: 0;
  text-align: end;
}

#sponsors-section {
  text-align: center;
}

#sponsors-section .home-text {
  max-width: 70ch;
}

/*  SPONSORS CAROUSEL  */
.carousel-wrapper {
  margin: auto;
  max-height: 200px;
  max-width: 70ch;
  margin-top: 5%;
}

.carousel-wrapper .slick {
  width: 100%;
}

.carousel-wrapper .slick .carousel-image-wrapper {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 20px;
}

.carousel-wrapper .slick .carousel-image-wrapper .carousel-image {
  max-height: 100px;
  width: auto;
  min-width: 100px;
  max-width: 250px;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0, 1, 0.5, 1);
  transition: -webkit-transform 1s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 1s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 1s cubic-bezier(0, 1, 0.5, 1), -webkit-transform 1s cubic-bezier(0, 1, 0.5, 1);
}

.carousel-wrapper .slick .carousel-image-wrapper .carousel-image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0, 0, 0, 1);
  transition: -webkit-transform 1.5s cubic-bezier(0, 0, 0, 1);
  transition: transform 1.5s cubic-bezier(0, 0, 0, 1);
  transition: transform 1.5s cubic-bezier(0, 0, 0, 1), -webkit-transform 1.5s cubic-bezier(0, 0, 0, 1);
}

@media screen and (max-width: 700px) {
  .carousel-wrapper {
    width: 250px;
  }
  .carousel-image-wrapper .carousel-image {
    height: auto;
    max-height: 50px;
    width: auto;
    min-width: 50px;
    max-width: 150px;
  }
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  list-style-type: none;
}

.slick-dots li {
  margin: 0 0.25rem;
}

.slick-dots button::before {
  width: 10px !important;
  height: 10px !important;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #3da08c;
  text-indent: -9999px;
}

/*  HERO SECTION  */
#hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80vh;
  margin: 0;
  margin-bottom: 5%;
}

@media screen and (max-width: 700px) {
  #hero-section {
    margin: 10% 0;
  }
}

.content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content img {
  width: 100%;
  height: auto;
  max-width: 550px;
  padding: 0;
  margin: 0 40px;
}

.content .intro {
  margin: 0 20px;
}

.content .intro p {
  max-width: 50ch;
}

#particles-js {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

@media screen and (max-width: 1200px) {
  .content img {
    max-width: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .home-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .home-image-wrapper {
    margin: 15px 0;
  }
  .home-text {
    margin: 15px 0;
  }
  .reverse-mobile .home-image-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .reverse-mobile .home-gap {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .reverse-mobile .home-text {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

/*
_________________________________________________________________
NAV - code from W3schools mainly
_________________________________________________________________
*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-width: 400px) {
  .overlay a {
    font-size: 30px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.nav-icon {
  font-size: 30px;
  position: -webkit-sticky;
  position: sticky;
  left: 10px;
  top: 10px;
}

/*
_________________________________________________________________
FOOTER
_________________________________________________________________
*/
footer {
  -ms-flex-item-align: end;
      align-self: end;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-image: url("../images/hoppers-contact-background.png");
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  padding-bottom: 0;
  margin-top: 100px;
}

footer h3 {
  text-align: center;
  color: #444;
  font-size: 14pt;
}

footer h3 a {
  color: #444;
  padding: 0 2px;
}

footer h3 a:hover {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(#5bc3c8), to(#109864));
  background: linear-gradient(90deg, #5bc3c8, #109864);
  color: #f8f9fa;
}

footer .outer-wrapper {
  background-color: rgba(248, 249, 250, 0.6);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  padding: 10px;
}

footer .outer-wrapper .contact-us-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .outer-wrapper img {
  width: 50px;
  height: 50px;
  margin: 1vmax 0.5vmax;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  background-color: #444;
  padding: 10px;
  border-radius: 50%;
}

footer .outer-wrapper img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

footer .attribution {
  background-color: rgba(248, 249, 250, 0.6);
  border-radius: 10px;
  bottom: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
}

footer .attribution p {
  margin: 0;
}

footer .attribution a {
  color: #444;
  padding: 0 2px;
}

footer .attribution a:hover {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(#5bc3c8), to(#109864));
  background: linear-gradient(90deg, #5bc3c8, #109864);
  color: #f8f9fa;
}

footer .attribution .heart {
  width: 1.5em;
}

/*
_________________________________________________________________
Meet the team
_________________________________________________________________
*/
.team {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90vw;
  -ms-grid-rows: max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content;
      grid-template-areas: 'title' '.';
}

.team .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  padding-bottom: 10px;
}

.team .title h1 {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: right;
  margin: 0;
  margin-right: 20px;
}

.team .title p {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
}

.team .title a:hover {
  text-decoration: underline;
}

.team .member-wrapper {
  width: 90vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 300px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .member-card {
  display: -ms-grid;
  display: grid;
  height: 200px;
  width: 200px;
  place-content: center;
  overflow: hidden;
  background-size: cover;
  border-radius: 20px;
}

.team a {
  text-decoration: none;
}

.team .overlay {
  background: rgba(68, 68, 68, 0.5);
  height: 200px;
  width: 200px;
  position: relative;
  top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  place-items: center;
}

.team .overlay h4 {
  font-weight: 700;
}

.team .overlay h6 {
  text-align: center;
}

.team .overlay h4, .team .overlay h5, .team .overlay h6 {
  color: #f8f9fa;
}

.team .member-card:hover .overlay {
  top: 0px;
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
}

.team .member-card:hover {
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  -webkit-box-shadow: 0px 0px 6px 2px #109864, 0px 0px 0px 10px #5bc3c8;
          box-shadow: 0px 0px 6px 2px #109864, 0px 0px 0px 10px #5bc3c8;
}

@media (max-width: 1000px) {
  .team .member-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-auto-rows: 220px;
  }
  .team p {
    font-size: 0.7em;
  }
}

@media (max-width: 600px) {
  .team .member-card {
    width: 150px;
    height: 150px;
  }
  .team h4, .team h5 {
    font-size: 0.8em;
  }
  .team h6 {
    width: 150px;
    font-size: 0.6em;
  }
}

/*
_________________________________________________________________
ABOUT US
_________________________________________________________________
*/
.aboutUsVoices {
  margin-top: 1rem;
  background: #f8f9fa;
  padding: 3%;
  border-radius: 20px;
  border: 3px solid #bce5dd;
}

.aboutUsVoices p {
  margin-bottom: 0.7rem;
}

/*
_________________________________________________________________
EVENTS
_________________________________________________________________
*/
.events-page {
  width: 90vw;
  margin: auto;
  /* Embedded calendar stylings */
}

.events-page section {
  text-align: center;
}

.events-page .upcoming-event-section .highlighted {
  background: #bce5dd;
  padding: 20px;
  margin: 20px auto 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}

.events-page .upcoming-event-section .highlighted .upcoming-event-logo img {
  width: 260px;
  height: auto;
}

.events-page .upcoming-event-section .highlighted .upcoming-event-desc {
  margin: 2%;
  text-align: start;
}

@media screen and (max-width: 992px) {
  .events-page .upcoming-event-section .highlighted {
    padding-top: 30px;
  }
  .events-page .upcoming-event-section .highlighted .upcoming-event-logo img {
    width: 200px;
    margin-bottom: 10px;
  }
  .events-page .upcoming-event-section .highlighted .upcoming-event-desc {
    text-align: center;
  }
}

.events-page .event-types-wrapper {
  margin: 20px auto 50px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.events-page .event-types-wrapper .event-type-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  background: #f8f9fa;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  border: 3px solid #bce5dd;
}

.events-page .calendar-wrapper {
  margin: 20px auto 50px;
}

.events-page .calendar-wrapper #smgc-cal-lcOSRAOVrXSBQGcGEnQe-calendar-container {
  border-radius: 20px;
  overflow: hidden !important;
}

.events-page .calendar-wrapper .smgc-cal-lcOSRAOVrXSBQGcGEnQe-event-start-time {
  font-weight: 400 !important;
}

.events-page .calendar-wrapper #smgc-cal-lcOSRAOVrXSBQGcGEnQe a.add-calendar-button {
  border-color: #3da08c;
  color: #f8f9fa;
  border-radius: 10px;
  margin: 8px 10px;
  padding: 6px 10px;
  background-color: #f8f9fa;
  max-width: 80px;
}

.events-page .calendar-wrapper #smgc-cal-lcOSRAOVrXSBQGcGEnQe a.add-calendar-button :hover {
  font-weight: bold;
}

.events-page .calendar-wrapper #smgc-cal-lcOSRAOVrXSBQGcGEnQe a.add-calendar-button span.plus {
  display: none;
}

.events-page .calendar-wrapper #smgc-cal-lcOSRAOVrXSBQGcGEnQe .smgc-watermark img {
  display: none;
}

.events-page .pbes {
  margin: 20px auto 50px;
}

.events-page .pbes .pbe-card {
  background: #f8f9fa;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  border: 3px solid #bce5dd;
}

.events-page .pbes .pbe-card .pbe-logo {
  margin: 20px;
}

.events-page .pbes .pbe-card .pbe-logo img {
  width: 200px;
  height: auto;
}

/*
_________________________________________________________________
SPONSORS
_________________________________________________________________
*/
.sponsors-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2%;
  width: 90vw;
}

.sponsors-grid .sponsor {
  text-align: center;
  margin: 20px;
}

.sponsors-grid .sponsor-image-wrapper {
  margin: 10px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0, 1, 0.5, 1);
  transition: -webkit-transform 1s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 1s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 1s cubic-bezier(0, 1, 0.5, 1), -webkit-transform 1s cubic-bezier(0, 1, 0.5, 1);
}

.sponsors-grid .sponsor-image-wrapper:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0, 0, 0, 1);
  transition: -webkit-transform 1.5s cubic-bezier(0, 0, 0, 1);
  transition: transform 1.5s cubic-bezier(0, 0, 0, 1);
  transition: transform 1.5s cubic-bezier(0, 0, 0, 1), -webkit-transform 1.5s cubic-bezier(0, 0, 0, 1);
}

.sponsors-grid .sponsor-image {
  max-height: 100px;
  width: auto;
  min-width: 100px;
  max-width: 250px;
}

.tiers {
  width: 90vw;
  margin: auto;
}

.tiers #tiers-intro {
  text-align: center;
  margin: 5% 0;
}

.tiers #tiers-intro p {
  max-width: 70ch;
  margin: 2% auto;
}

.tiers #tiers-intro p a {
  margin: 0;
  font-weight: bold;
}

.tiers table {
  margin: auto;
}

.tiers td {
  color: #444;
  text-align: center;
  padding: 8px;
}

.tiers td:first-child {
  text-align: left;
  font-size: 105%;
}

.tiers img {
  height: 25px;
  width: 25px;
}

@media (max-width: 700px) {
  .tiers table {
    font-size: 16px;
  }
}

.tiers tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

.tiers tbody tr:hover {
  background-color: #bce5dd;
}

.tiers th {
  background-color: #3da08c;
  color: #f8f9fa;
  padding: 5px;
  font-size: 105%;
}

.tiers .empty-cell {
  background: none;
  background-color: rgba(0, 0, 0, 0);
}

.tiers a {
  margin: 10px;
}
/*# sourceMappingURL=styles.css.map */