<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body>
  {% include nav.html %}
  <main>
    {{ content }}
  </main>
  {% include footer.html %}




  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="{{ '/assets/scripts/particles.js' | relative_url }}"></script>

  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <script src="{{ '/assets/scripts/splide.min.js' | relative_url }}"></script>

  <script src="{{ '/assets/scripts/app.js' | relative_url }}"></script>




  <script>
    function openNav() {
      console.log(window.innerWidth)
      if (window.innerWidth > 500) {
        console.log("big window")
        document.getElementById("navbar").style.width = "50%";
      }
      else {
        console.log("small window")
        document.getElementById("navbar").style.width = "80%";
      }

    }

    function closeNav() {
      document.getElementById("navbar").style.width = "0%";
    }
  </script>
</body>

</html>